// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// Colours
$Cyan-lightest: #bcc4c6;
$Cyan-lighter: #7c8c90;
$Cyan-light: #40575e;
$Cyan: #032830;
$Primary: #032830;
$Cyan-dark: #002128;

// Generic
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #fff;
}

.key-features-title,
.fund-title,
.events-title,
.insights-title,
.podcasts-title,
.media-title {
  font-size: 42px;
  font-weight: 600;
}

.key-features-sub-title,
.insights-sub-title,
.podcasts-sub-title,
.media-sub-title {
  font-size: 24px;
  font-weight: 400;
}

.fund-btn-container,
.insights-btn-container,
.podcasts-btn-container,
.media-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.fund-btn,
.insights-btn,
.podcasts-btn,
.media-btn,
.subscribe-btn {
  border-radius: 50px !important;
  background-color: transparent !important;
  width: 220px;
  height: 45px;
  font-weight: 600 !important;
}

.fund-btn,
.insights-btn,
.media-btn {
  border: $Cyan 1px solid !important;
  color: $Cyan-dark !important;
}

.fund-btn:hover,
.insights-btn:hover,
.media-btn:hover {
  background-color: $Cyan !important;
  border: $Cyan 1px solid !important;
  color: white !important;
}

.podcasts-btn,
.subscribe-btn {
  border: white 1px solid !important;
}

.podcasts-btn:hover,
.subscribe-btn:hover {
  background-color: white !important;
  color: $Cyan-dark !important;
  border: white 1px solid !important;
}

.event-card-container,
.insights-card-container,
.podcasts-card-container,
.media-card-container {
  display: flex;
  justify-content: space-between;
}

.event-card,
.insights-card,
.podcasts-card,
.media-card {
  width: 25rem;
  margin: 10px;
}

// Navbar

.navbar {
  height: 100px;
  box-shadow: 0px 10px 50px rgba(3, 40, 48, 0.25);
}

.navbar-brand {
  font-family: "Noto Serif HK", serif;
  font-size: 27px !important;
}

.navbar-icon {
  height: 70px;
}

.navbar-toggler {
  border: 0 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3, 40, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
  background-color: white;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  font-size: 18px !important;
}

// Hero

.outer-hero-container {
  background-image: url(../public/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.hero-container {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-sup-text {
  color: $Cyan-lightest;
  font-size: 42px;
  font-weight: 700;
}

.hero-text {
  color: white;
  font-size: 64px;
  font-weight: 700;
}

.hero-sub-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 66%;
}

.cta-btn {
  border-radius: 50px !important;
  background-color: white !important;
  border: $Cyan 1px solid !important;
  color: $Cyan-dark !important;
  width: 220px;
  height: 45px;
  font-weight: 600 !important;
}

.cta-btn:hover {
  background-color: transparent !important;
  border: white 1px solid !important;
  color: white !important;
}

// Key features

.outer-key-features-container {
  background-color: white;
}

.key-feature-card-container {
  display: flex;
  justify-content: space-between;
}

.key-feature-card {
  width: 18rem;
  border-radius: 15px !important;
  margin: 10px;
  background-color: #d9d9d9 !important;
  border: 0 !important;
}

.key-feature-body {
  background-color: $Cyan-lighter !important;
  color: white !important;
  border-radius: 0 0 15px 15px;
  border: 1px $Cyan-lighter solid !important;
}

.key-feature-header {
  display: flex;
  justify-content: center;
  border: 0 !important;
}

.key-feature-icon {
  padding: 20px;
}

// Fund

.outer-fund-container {
  background-color: #f2f5f6;
}

.fund-container {
  display: flex;
  padding-top: 20px;
}

.fund-div-1,
.fund-div-2 {
  width: 50%;
}

.fund-div-1 {
  background-image: url(../public/fund-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fund-div-2 {
  padding: 20px;
}

// Events

.outer-events-container {
  background-color: $Cyan-lightest;
}

.event-card {
  background-color: $Cyan-lighter !important;
  border: 0 !important;
  border-radius: 15px !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.event-card-title {
  font-size: 16px !important;
  font-weight: 600;
}

.event-card-text {
  font-size: 14px !important;
  font-weight: 400;
}

.event-card-footer {
  font-size: 14px !important;
  background-color: $Cyan-lighter !important;
  border: 0 !important;
  border-radius: 15px !important;
  font-weight: 400;
}

.event-card-read-more {
  text-decoration: underline;
  cursor: pointer;
}

.event-card-read-more:hover {
  text-decoration: none;
}

// Insights

.outer-insights-container {
  background-color: white;
}

// Podcasts

.outer-podcasts-container {
  background-color: $Cyan-light;
}

.podcasts-title,
.podcasts-sub-title {
  color: white;
}

// Media

.outer-media-container {
  background-color: white;
}

// Footer CTA

.outer-footer-cta-container {
  background-color: $Cyan-light;
}

.footer-cta-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.footer-cta-sub-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: $Cyan-lightest;
}

.footer-cta-btn-container {
  display: flex;
  justify-content: center;
}

// Email subscription

.outer-email-sub-container {
  background-color: $Cyan;
}

.email-sub-container {
  display: flex;
}

.email-sub-div-1,
.email-sub-div-2 {
  width: 50%;
}

.email-sub-div-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.email-sub-title {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.email-sub-sub-title {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.email-privacy-policy {
  text-decoration: underline;
  cursor: pointer;
}

.email-sub-label {
  color: white;
  font-size: 14px;
}

.email-sub-input {
  border-radius: 50px !important;
  background-color: transparent !important;
  height: 45px;
  font-weight: 600 !important;
  color: white !important;
}

.email-sub-div-2-div-1 {
  width: 60%;
}

// Footer

.outer-footer-container {
  background-color: $Cyan-dark;
}

.footer-sitemap {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer-sitemap h5 {
  font-size: 18px !important;
  font-weight: 600;
  padding-bottom: 10px !important;
  cursor: pointer;
}

.footer-sitemap p {
  font-size: 18px !important;
  font-weight: 300;
  cursor: pointer;
}

.footer-sitemap h5:hover,
.footer-sitemap p:hover {
  color: $Cyan-lightest;
}

.footer-sitemap-and-logo-social {
  display: flex;
  justify-content: space-between;
}

.logo-social-section {
  font-family: "Noto Serif HK", serif;
  font-size: 15px;
  color: $Cyan-lightest;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon {
  height: 125px;
  margin-bottom: 10px;
}

.social-icons i {
  color: $Cyan-lightest;
  font-size: 2rem;
  margin: 15px;
  cursor: pointer;
}

.social-icons i:hover {
  color: white;
}

.footer-line {
  color: $Cyan-lightest;
}

.footer-copyright {
  color: $Cyan-lightest;
  font-size: 12px;
  text-align: center;

  margin-bottom: 0;

  padding-bottom: 1rem;
}

// -------------------------------------------------------------------------
// Media query for smaller than md breakpoint

@media screen and (max-width: 992px) {
  // Generic
  .key-features-title,
  .fund-title,
  .events-title,
  .insights-title,
  .podcasts-title,
  .media-title {
    font-size: 36px;
    font-weight: 600;
  }

  .key-features-sub-title,
  .insights-sub-title,
  .podcasts-sub-title,
  .media-sub-title {
    font-size: 16px;
    font-weight: 400;
  }

  // Navbar

  .navbar-brand {
    flex-direction: column;
    font-size: 14px !important;
  }

  .navbar-icon {
    height: 50px;
  }

  // Hero

  .hero-sup-text {
    font-size: 24px;
  }

  .hero-text {
    font-size: 40px;
  }

  .hero-sub-text {
    font-size: 16px;

    width: 100%;
  }

  // Three card carousel

  .event-card-container,
  .insights-card-container,
  .podcasts-card-container,
  .media-card-container {
    display: flex;
    justify-content: flex-start;

    gap: 40px;
    scrollbar-width: thin;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 60px;
  }

  .event-card,
  .insights-card,
  .podcasts-card,
  .media-card {
    min-width: 75% !important;
  }

  // Key features

  .key-feature-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  // Fund Strategies

  .fund-container {
    flex-direction: column;
  }

  .fund-div-1,
  .fund-div-2 {
    width: 100%;
  }

  .fund-div-1 {
    background-image: url(../public/fund-mobile.png);
    height: 400px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  // Email subscription

  .email-sub-container {
    flex-direction: column;
  }

  .email-sub-div-1,
  .email-sub-div-2 {
    width: 100%;
  }

  .email-sub-div-2 {
    flex-direction: column;
  }
  .email-sub-div-2-div-1 {
    width: 100%;
  }

  .email-sub-div-2-div-2 {
    padding-top: 15px;
  }

  // Footer

  .footer-sitemap {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-sitemap-and-logo-social {
    flex-direction: column;
  }

  .footer-sitemap-item {
    width: 30%;
    padding-bottom: 20px;
  }
}
